# Mise en place de la ré-écriture 
RewriteEngine On



# Adresse de base de réécriture

# RewriteBase /final

RewriteBase /antoine

# Règles

RewriteCond %{SCRIPT_FILENAME} !-f

RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^admin/(.*)$ admin/index.php?request=$1 [QSA,L]



# Règles

RewriteCond %{SCRIPT_FILENAME} !-f

RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule (.*) index.php?request=$1 [QSA,L]

